# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
dist/
build/
.eggs/
*.egg
*.manifest
*.spec

# Django
*.log
db.sqlite3
media/
staticfiles/
local_settings.py
*.pot
*.pyc
*.mo

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Misc
*.swp
*.bak
*.tmp
*.orig
.coverage