__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
.venv-lint
env/
venv/
ENV/
.pytest_cache/
.coverage
htmlcov/
coverage.xml
.coverage.*
.tox/
.mypy_cache/
.dmypy.json
dmypy.json
*.log
.DS_Store

# Local environment files
docker-compose.local.yml
